html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: rgb(15, 15, 15);
    border-bottom: 2px solid #ffc107;
}

.jumbotron {
    background-color: rgb(26, 26, 26);
    color: white;
    padding: 1rem 4rem;
    margin-bottom: 1rem;
}

.my-2 {
    border-color: rgba(255, 255, 255, .1);
}

.icons {
    font-size: xxx-large;
}

.icons a {
    color: grey;
    margin: 1rem;
    transition: .9s;
}

.icons a:hover {
    text-decoration: none;
    color: #ffc107;
    transform: rotate(360deg);
}
.fas.fa-angle-double-up {
    font-size: 2rem;
}

@keyframes up-btn-anim {
    30%     {transform: translateY(-5px);}
    100%    {transform: translateY(0px);}
}

/* #up-button {
    transition: .5s;
} */

.up-button:hover > .up-button-arrow {
    animation-name: up-btn-anim;
    animation-duration: .8s;
    animation-iteration-count: infinite;
}
